[project]
name = "telegramify-markdown"
version = "0.3.0"
description = "Makes it easy to send Markdown in Telegram MarkdownV2 style"
authors = [
    { name = "sudoskys", email = "coldlando@hotmail.com" },
]
dependencies = [
    "mistletoe==1.4.0",
    "pytelegrambotapi>=4.22.0",
    "docutils>=0.20.1",
    "Pillow>=10.4.0",
    "pydantic>=2.10.3",
    "aiohttp>=3.10.11",
]
requires-python = ">=3.8"
readme = "README.md"
license = { text = "MIT" }

[project.urls]
repository = "https://github.com/sudoskys/telegramify-markdown"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "loguru>=0.7.2",
    "python-dotenv>=1.0.1",
]

[tool.pdm.scripts]
test = "python -m unittest discover -s ./tests -p *_test.py"
