[project]
name = "telegramify-markdown"
version = "0.1.9"
description = "Convert Markdown to a format usable by Telegram."
authors = [
    { name = "sudoskys", email = "coldlando@hotmail.com" },
]
dependencies = [
    "mistletoe==1.4.0",
    "pytelegrambotapi>=4.18.1",
]
requires-python = ">=3.8"
readme = "README.md"
license = { text = "MIT" }

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "loguru>=0.7.2",
    "python-dotenv>=1.0.1",
]

[tool.pdm.scripts]
test = "python -m unittest discover -s ./tests -p *_test.py"
